<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="naver-site-verification" content="5039f033f1e727e878f807ab39f0532450714ba2" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="르코테지">
    <meta property="og:description" content="양평 리조트 풀빌라 르코테지(LeCOTTAGE) 분양 사이트">
    <meta property="og:image" content="/images/favicon/favicon.ico">
    <meta property="og:url" content="http://www.lecottage.co.kr">
    <meta name="description" content="양평 리조트 풀빌라 르코테지(LeCOTTAGE) 분양 사이트">
    <link rel="canonical" href="http://www.lecoattage.co.kr">
    <link rel=" shortcut icon" href="/images/favicon/favicon.ico" style="user-select: auto;">

    <title>LeCOTTAGE</title>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--Swiper css/js-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!--ScrollMagic js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
    <!--all CSS/JS-->
    <link rel="stylesheet" href="/css/commonCss.css">
    <link rel="stylesheet" href="/js/commonJs.js">
    <!--thisPage-->
    <link rel="stylesheet" href="/css/unit/unit.css">
    <script type="text/javascript" src="/js/unit/unit.js"></script>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <!--include css/js-->
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/mobileSideBar.css">
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/footer.js"></script>
    <!--Animation On Scroll CSS/JS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--Font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>
<body style="overflow-x: hidden">
<div th:include="fragments/header ::header" class="header"></div>

<div class="unit">
    <div class="unit-container">
        <section class="unit-container__cover-wrapper">
                <div class="unit-container__cover-wrapper__img">
                    <div class="blackbox">
                        <div>
                            <p>THIS IS HOW LIFE IS <br></p>
                            <p>UNIT</p>
                            <p>당신이 상상하는 그 이상의 힐링공간</p>
                        </div>
                    </div>
                </div>
        </section>

        <section class="unit-container__unit-wrapper">
            <div class="unit-container__unit-wrapper__box unit-container__unit-wrapper__box-unique">
                <div class="unit-container__unit-wrapper__box__summary">
                    <div class="unit-container__unit-wrapper__box__summary__wrapper">
                        <div class="unit-container__unit-wrapper__box__summary__wrapper__first-box">
                            <div class="unit-container__unit-wrapper__box__summary__wrapper__first-box__title">
                                <h3 class="aos-animate" data-aos="fade-up">ARCHITECTURE STORY</h3>
                                <p class="aos-animate" data-aos="fade-up">
                                    르코테지의 기본적인 디자인 개념은 <br>
                                    <b>"자연과 인간의 삶을 담는 공간"</b>에서 시작됩니다.
                                </p>
                            </div>
                        </div>
                        <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box">
                            <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content aos-animate" data-aos="fade-up">
                                <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box">
                                    <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box__image unit-a-image">
                                        <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box__image__content">
                                            <h1>Type A</h1>
                                        </div>
                                        <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box__image__cover"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content aos-animate" data-aos="fade-up">
                                <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box">
                                    <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box__image unit-b-image">
                                        <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box__image__content">
                                            <h1>Type B</h1>
                                        </div>
                                        <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box__image__cover"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content aos-animate" data-aos="fade-up">
                                <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box">
                                    <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box__image unit-c-image">
                                        <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box__image__content">
                                            <h1>Type C</h1>
                                        </div>
                                        <div class="unit-container__unit-wrapper__box__summary__wrapper__second-box_content__image-box__image__cover"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="quick_wrap">
                <ul class="side_quick">
                    <li class="on">
                        <a href="#unitA">Unit A</a>
                    </li>
                    <li class="">
                        <a href="#unitB">Unit B</a>
                    </li>
                    <li class="">
                        <a href="#unitC">Unit C</a>
                    </li>
                </ul>
            </div>

            <div class="unit-container__unit-wrapper__box">
                <div id="unitA">
                    <div class="unit-container__unit-wrapper__box__content">
                        <div class="unit-container__unit-wrapper__box__content__section-1">
                            <div class="unit-container__unit-wrapper__box__content__section-1__wrapper">
                                <ul>
                                    <li class="img right aos-animate" data-aos="fade-up">
                                        <div class="swiper mySwiper1">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitA/unitAFloor1-1.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitA/unitAFloor1-2.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitA/unitAFloor2-1.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitA/unitAFloor2-2.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitA/unitA1-main.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitA/unitA2-main.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitA/unitA3.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitA/unitA4.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitA/unitA5.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitA/unitA6.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </li>
                                    <li class="txt left aos-animate" data-aos="fade-right">
                                        <h3>
                                            <b>UNIT A</b>
                                        </h3>

                                        <p>
                                            •&nbsp;&nbsp;Le Cottage의 주력 평형으로 당신만의 공간을 아늑하게 채워줄 편리한 구조 <br>
                                            •&nbsp;&nbsp;일상과 휴식, 공간의 분리로 이뤄낸 삶의 질 향상 <br>
                                            •&nbsp;&nbsp;Private한 Pool과 전용 사우나 <br>
                                            •&nbsp;&nbsp;독립된 개별 주차공간 <br>
                                            •&nbsp;&nbsp;푸른 산림이 보이는 자연 VIEW를 감상할 수 있는 오픈 테라스 <br>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="unit-container__unit-wrapper__box__content__section-2">
                            <div class="unit-container__unit-wrapper__box__content__section-2__wrapper">
                                <ul>
                                    <li class="txt txt2 right aos-animate" data-aos="fade-left">
                                        <h3>
                                            <b>UNIT A</b>
                                        </h3>

                                        <ul class="unit-container__unit-wrapper__box__content__section-2__wrapper__under-ul">
                                            <li>
                                                <b>동 수</b>
                                                <p>4 동</p>
                                            </li>

                                            <li>
                                                <b>계약면적</b>
                                                <p>403.70m<sup>2</sup> (122.12평)</p>
                                            </li>

                                            <li>
                                                <b>공급면적</b>
                                                <p>179.10m<sup>2</sup> (54.18평)</p>
                                            </li>

                                            <li>
                                                <b>1 Floor 면적</b>
                                                <p>86.58m<sup>2</sup> (26.19평)</p>
                                            </li>

                                            <li>
                                                <b>2 Floor 면적</b>
                                                <p>78.84m<sup>2</sup> (23.85평)</p>
                                            </li>
                                        </ul>

                                        <p class="last123">
                                            *본 평면도와 면적은 고객의 이해를 돕기 위해 제작된 것으로 <br>
                                            &nbsp;&nbsp;인허가 과정이나 실 시공시 현장여건 등에 따라 일부 변경될 수 있습니다.
                                        </p>
                                    </li>
                                    <li class="img left aos-animate" data-aos="fade-up">
                                        <img src="/images/unit/unitA/unitAFloorDetail.jpg" alt="" style="max-height: 323px;">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="unitB">
                    <div class="unit-container__unit-wrapper__box__content">
                        <div class="unit-container__unit-wrapper__box__content__section-1">
                            <div class="unit-container__unit-wrapper__box__content__section-1__wrapper">
                                <ul>
                                    <li class="img right aos-animate" data-aos="fade-up">
                                        <div class="swiper mySwiper1">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitB/unitBFloor1-1.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitB/unitBFloor1-2.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitB/unitBFloor2-1.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitB/unitBFloor2-2.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitB/unitB1.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitB/unitB2.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitB/unitB3.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitB/unitB4.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </li>
                                    <li class="txt left aos-animate" data-aos="fade-right">
                                        <h3>
                                            <b>UNIT B</b>
                                        </h3>

                                        <p>
                                            •&nbsp;&nbsp;Le Cottage의 주력 평형으로 당신만의 공간을 아늑하게 채워줄 편리한 구조 <br>
                                            •&nbsp;&nbsp;일상과 휴식, 공간의 분리로 이뤄낸 삶의 질 향상 <br>
                                            •&nbsp;&nbsp;Private한 Pool과 전용 사우나 <br>
                                            •&nbsp;&nbsp;독립된 개별 주차공간 <br>
                                            •&nbsp;&nbsp;푸른 산림이 보이는 자연 VIEW를 감상할 수 있는 오픈 테라스 <br>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="unit-container__unit-wrapper__box__content__section-2">
                            <div class="unit-container__unit-wrapper__box__content__section-2__wrapper">
                                <ul>
                                    <li class="txt txt2 right aos-animate" data-aos="fade-left">
                                        <h3>
                                            <b>UNIT B</b>
                                        </h3>

                                        <ul class="unit-container__unit-wrapper__box__content__section-2__wrapper__under-ul">
                                            <li>
                                                <b>동 수</b>
                                                <p>10 동</p>
                                            </li>

                                            <li>
                                                <b>계약면적</b>
                                                <p>362.35m<sup>2</sup> (109.61평)</p>
                                            </li>

                                            <li>
                                                <b>공급면적</b>
                                                <p>155.94m<sup>2</sup> (47.17평)</p>
                                            </li>

                                            <li>
                                                <b>1 Floor 면적</b>
                                                <p>91.62m<sup>2</sup> (27.72평)</p>
                                            </li>

                                            <li>
                                                <b>2 Floor 면적</b>
                                                <p>54.09m<sup>2</sup> (16.36평)</p>
                                            </li>
                                        </ul>

                                        <p class="last123">
                                            *본 평면도와 면적은 고객의 이해를 돕기 위해 제작된 것으로 <br>
                                            &nbsp;&nbsp;인허가 과정이나 실 시공시 현장여건 등에 따라 일부 변경될 수 있습니다.
                                        </p>
                                    </li>
                                    <li class="img left aos-animate" data-aos="fade-up">
                                        <img src="/images/unit/unitB/unitBFloorDetail.jpg" alt="" style="max-height: 323px;">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="unitC">
                    <div class="unit-container__unit-wrapper__box__content">
                        <div class="unit-container__unit-wrapper__box__content__section-1">
                            <div class="unit-container__unit-wrapper__box__content__section-1__wrapper">
                                <ul>
                                    <li class="img right aos-animate" data-aos="fade-up">
                                        <div class="swiper mySwiper1">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitC/unitCFloor1-1.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitC/unitCFloor1-2.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitC/unitCFloor2-1.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitC/unitCFloor2-2.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitC/unitC1.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitC/unitC2.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitC/unitC3.jpg" alt="">
                                                </div>

                                                <div class="swiper-slide">
                                                    <img src="/images/unit/unitC/unitC4.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </li>
                                    <li class="txt left aos-animate" data-aos="fade-right">
                                        <h3>
                                            <b>UNIT C</b>
                                        </h3>

                                        <p>
                                            •&nbsp;&nbsp;Le Cottage의 주력 평형으로 당신만의 공간을 아늑하게 채워줄 편리한 구조 <br>
                                            •&nbsp;&nbsp;일상과 휴식, 공간의 분리로 이뤄낸 삶의 질 향상 <br>
                                            •&nbsp;&nbsp;Private한 Pool과 전용 사우나 <br>
                                            •&nbsp;&nbsp;독립된 개별 주차공간 <br>
                                            •&nbsp;&nbsp;푸른 산림이 보이는 자연 VIEW를 감상할 수 있는 오픈 테라스 <br>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="unit-container__unit-wrapper__box__content__section-2">
                            <div class="unit-container__unit-wrapper__box__content__section-2__wrapper">
                                <ul>
                                    <li class="txt txt2 right aos-animate" data-aos="fade-left">
                                        <h3>
                                            <b>UNIT C</b>
                                        </h3>

                                        <ul class="unit-container__unit-wrapper__box__content__section-2__wrapper__under-ul">
                                            <li>
                                                <b>동 수</b>
                                                <p>3 동</p>
                                            </li>

                                            <li>
                                                <b>계약면적</b>
                                                <p>343.78m<sup>2</sup> (103.99평)</p>
                                            </li>

                                            <li>
                                                <b>공급면적</b>
                                                <p>147.53m<sup>2</sup> (44.63평)</p>
                                            </li>

                                            <li>
                                                <b>1 Floor 면적</b>
                                                <p>81.63m<sup>2</sup> (24.69평)</p>
                                            </li>

                                            <li>
                                                <b>2 Floor 면적</b>
                                                <p>55.93m<sup>2</sup> (16.31평)</p>
                                            </li>
                                        </ul>

                                        <p class="last123">
                                            *본 평면도와 면적은 고객의 이해를 돕기 위해 제작된 것으로 <br>
                                            &nbsp;&nbsp;인허가 과정이나 실 시공시 현장여건 등에 따라 일부 변경될 수 있습니다.
                                        </p>
                                    </li>
                                    <li class="img left aos-animate" data-aos="fade-up">
                                        <img src="/images/unit/unitC/unitCFloorDetail.jpg" alt="" style="max-height: 323px;">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<div th:include="fragments/footer ::footer" class="footer"></div>
</body>
</html>