<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서비스</title>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--thisPage-->
    <link rel="stylesheet" href="/css/service/amenity.css">
    <script type="text/javascript" src="/js/service/amenity.js"></script>
    <!--all CSS/JS-->
    <link rel="stylesheet" href="/css/commonCss.css">
    <link rel="stylesheet" href="/js/commonJs.js">
    <!--include css-->
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <!--include js-->
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/footer.js"></script>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <!--swiper-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!--Animation On Scroll CSS/JS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>
<body style="overflow-x: hidden">
<div th:include="fragments/header ::header" class="header"></div>

<div class="amenity">
    <div class="amenity-container">

        <div class="amenity-main-wrapper">
            <div class="amenity-main-wrapper__img">
                <div class="blackbox">
                    <div>
                        <p>RELAXED LIFE STYLE</p>
                        <p>AMENITY</p>
                        <p>지친 도심에서의 피로를 회복할 수 있는 환경</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="amenity-middle-wrapper aos-animate" data-aos="fade-up">
            <p>It is only for you</p>
            <span>A variety of </span><span>Complex Cultural Facilities</span><span> enjoyed in nature</span>
            <p>자연에 녹아들어 더욱 아름다운 다양한 복합 문화 시설</p>
            <p>오직 당신만을 위한 것입니다</p>
        </div>

        <div class="amenity-sec-wrapper">
            <div class="amenity-sec-wrapper__outDoorStage infoBox">
                <div class="amenity-sec-wrapper__outDoorStage__img aos-animate" data-aos="fade-right"></div>
                <div class="amenity-sec-wrapper__outDoorStage__info infoText infoText--right aos-animate" data-aos="fade-left">
                    <p>Outdoor Stage</p>
                    <p>야외 공간</p>
                    <p>야외 수영장, 잔디 광장</p>
                   <p>그리고 이벤트 광장</p>
                </div>
            </div>

            <div class="amenity-sec-wrapper__pool infoBox">
                <div class="amenity-sec-wrapper__pool__info infoText infoText--left aos-animate" data-aos="fade-right">
                    <p>Pool</p>
                    <p>수영장</p>
                    <p>물의 공간, 감성적인 숲의 공간</p>
                    <p>(야외 수영장, 단지 내 수영장)</p>
                </div>

                <div class="swiper-container swiper mySwiper aos-animate" data-aos="fade-left">
                    <!-- 보여지는 영역 -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/pool/pool1.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/pool/pool2.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/pool/pool3.jpg" alt=""/>
                        </div>
                    </div>
                    <!-- 방향 버튼 -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- 페이징 버튼 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="amenity-sec-wrapper__mice infoBox">
                <div class="swiper-container swiper mySwiper aos-animate" data-aos="fade-right">
                    <!-- 보여지는 영역 -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/mice/mice1.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/mice/mice2.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/mice/mice3.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/mice/mice4.jpg" alt=""/>
                        </div>
                    </div>
                    <!-- 방향 버튼 -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- 페이징 버튼 -->
                    <div class="swiper-pagination"></div>
                </div>

                <div class="amenity-sec-wrapper__mice__info infoText infoText--right aos-animate" data-aos="fade-left">
                    <p>Mice</p>
                    <p>Mice(convention)</p>
                    <p>기업회의 (Meeting)</p>
                    <p>포상관광 (Incentives)</p>
                    <p>컨벤션 (Convention)</p>
                    <p>전시 (Exhibition)</p>
                </div>
            </div>

            <div class="amenity-sec-wrapper__concertHall infoBox">
                <div class="amenity-sec-wrapper__concertHall__info infoText infoText--left aos-animate" data-aos="fade-right">
                    <p>Concert Hall & Cafe</p>
                    <p>콘서트 홀 & 카페</p>
                    <p>부드러운 커피 한잔</p>
                    <p>삶을 풍성하게 하는</p>
                    <p>음악이 있는 곳</p>
                </div>

                <div class="swiper-container swiper mySwiper aos-animate" data-aos="fade-left">
                    <!-- 보여지는 영역 -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/concertHall&cafe/cafe1.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/concertHall&cafe/cafe2.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/concertHall&cafe/concertHall1.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/concertHall&cafe/concertHall2.jpg" alt=""/>
                        </div>
                    </div>
                    <!-- 방향 버튼 -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- 페이징 버튼 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="amenity-sec-wrapper__sauna infoBox">
                <div class="swiper-container swiper mySwiper aos-animate" data-aos="fade-right">
                    <!-- 보여지는 영역 -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/sauna&spa/sauna1.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/sauna&spa/sauna2.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/sauna&spa/sauna3.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/sauna&spa/sauna4.jpg" alt=""/>
                        </div>
                    </div>
                    <!-- 방향 버튼 -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- 페이징 버튼 -->
                    <div class="swiper-pagination"></div>
                </div>

                <div class="amenity-sec-wrapper__sauna__info infoText infoText--right aos-animate" data-aos="fade-left">
                    <p>Sauna & Spa</p>
                    <p>사우나 & 스파</p>
                    <p>혼잡한 일상에서의 탈출</p>
                    <p>천상의 휴식처</p>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/footer ::footer" class="footer"></div>
</div>
</body>
</html>