<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서비스</title>

    <!--thisPage-->
    <link rel="stylesheet" href="/css/service/amenity.css">
    <script type="text/javascript" src="/js/service/amenity.js"></script>
    <!--all CSS/JS-->
    <link rel="stylesheet" href="/css/commonCss.css">
    <link rel="stylesheet" href="/js/commonJs.js">
    <!--include css-->
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <!--include js-->
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/footer.js"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <!--swiper-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

</head>
<body style="overflow-x: hidden">
<div th:include="fragments/header ::header" class="header"></div>

<div class="amenity">
    <div class="amenity-container">

        <div class="amenity-main-wrapper">
            <div class="amenity-main-wrapper__img">
                <div class="blackbox">
                    <div>
                        <p>HIGH SOCIETY LIFE STYLE</p>
                        <p>AMENITY</p>
                        <p>남다른 일상을 사는 사람들의 취향이 모인 하이 소사이어티</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="amenity-middle-wrapper">
            <span>Only the leaders</span><span> are allowed to</span>
            <span>own Yangpyeong Le COTTAGE</span>
            <p>꿈이 현실이 되는 최고의 프레스티지 하우스 땅 바람 구름 자연과 함께 숨쉬는 곳</p>
            <p>이제 당신이 주인입니다</p>
        </div>

        <div class="amenity-sec-wrapper">
            <div class="amenity-sec-wrapper__outDoorStage infoBox">
                <div class="amenity-sec-wrapper__outDoorStage__img"></div>
                <div class="amenity-sec-wrapper__outDoorStage__info infoText infoText--right">
                    <p>Outdoor Stage</p>
                    <p>야외 공간</p>
                    <p>야외 수영장, 잔디 광장</p>
                   <p>그리고 이벤트 광장</p>
                </div>
            </div>

            <div class="amenity-sec-wrapper__pool infoBox">
                <div class="amenity-sec-wrapper__pool__info infoText infoText--left">
                    <p>Pool</p>
                    <p>수영장</p>
                    <p>물의 공간, 감성적인 숲의 공간</p>
                    <p>(야외 수영장, 단지 내 수영장)</p>
                </div>

                <div class="swiper-container swiper mySwiper">
                    <!-- 보여지는 영역 -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/pool/pool1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/pool/pool2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/pool/pool3.png" />
                        </div>
                    </div>
                    <!-- 방향 버튼 -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- 페이징 버튼 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="amenity-sec-wrapper__mice infoBox">
                <div class="swiper-container swiper mySwiper">
                    <!-- 보여지는 영역 -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/mice/mice1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/mice/mice2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/mice/mice3.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/mice/mice4.jpg" />
                        </div>
                    </div>
                    <!-- 방향 버튼 -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- 페이징 버튼 -->
                    <div class="swiper-pagination"></div>
                </div>

                <div class="amenity-sec-wrapper__mice__info infoText infoText--right">
                    <p>Mice</p>
                    <p>Mice(convention)</p>
                    <p>기업회의 (Meeting)</p>
                    <p>포상관광 (Incentives)</p>
                    <p>컨벤션 (Convention)</p>
                    <p>전시 (Exhibition)</p>
                </div>
            </div>

            <div class="amenity-sec-wrapper__concertHall infoBox">
                <div class="amenity-sec-wrapper__concertHall__info infoText infoText--left">
                    <p>Concert Hall & Cafe</p>
                    <p>콘서트 홀 & 카페</p>
                    <p>부드러운 커피 한잔</p>
                    <p>삶을 풍성하게 하는</p>
                    <p>음악이 있는 곳</p>
                </div>

                <div class="swiper-container swiper mySwiper">
                    <!-- 보여지는 영역 -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/concertHall&cafe/cafe1.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/concertHall&cafe/cafe2.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/concertHall&cafe/concertHall1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/concertHall&cafe/concertHall2.jpg" />
                        </div>
                    </div>
                    <!-- 방향 버튼 -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- 페이징 버튼 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="amenity-sec-wrapper__sauna infoBox">
                <div class="swiper-container swiper mySwiper">
                    <!-- 보여지는 영역 -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/sauna&spa/sauna1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/sauna&spa/sauna2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/sauna&spa/sauna3.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/service/amenity/sauna&spa/sauna4.jpg" />
                        </div>
                    </div>
                    <!-- 방향 버튼 -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- 페이징 버튼 -->
                    <div class="swiper-pagination"></div>
                </div>

                <div class="amenity-sec-wrapper__sauna__info infoText infoText--right">
                    <p>Sauna & Spa</p>
                    <p>사우나 & 스파</p>
                    <p>혼잡한 일상에서의 탈출</p>
                    <p>천상의 휴식처</p>
                </div>
            </div>


        </div>

    </div>
    <div th:include="fragments/footer ::footer" class="footer"></div>
</div>

<!--head안에 쓰면안된다. 자바스크립트는 body안에서 맨 마지막에 <script>를 열어주고 써줘야한다.
이유는 자바스크립트는 내용이 되는 html파일을 다 읽고 그 동작을 추가하기 때문에
<head>안에 쓰면 내용도 없는데 먼저 실행된것과 마찬가지이다 -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {

        //무한루프일때, true
        loop: true,
        //키보드로 슬라이드
        keyboard: {
            enabled: true,
        },
        //네이게이션 버튼 관련 자바스크립트
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        //
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
    });
</script>


</body>
</html>