<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=" shortcut icon" href="/images/favicon/favicon.ico" style="user-select: auto;">

    <title>Le COTTAGE</title>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--Swiper css/js-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!--ScrollMagic js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
    <!--all CSS/JS-->
    <link rel="stylesheet" href="/css/commonCss.css">
    <link rel="stylesheet" href="/js/commonJs.js">
    <!--thisPage-->
    <link rel="stylesheet" href="/css/plan/plan.css">
    <script type="text/javascript" src="/js/plan/plan.js"></script>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <!--include css/js-->
    <link rel="stylesheet" href="/css/unit/unit.css">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/footer.js"></script>
    <!--Animation On Scroll CSS/JS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>
<body style="overflow-x: hidden">
<div th:include="fragments/header ::header" class="header"></div>


<div class="plan">
    <div class="plan-container">
        <section class="plan-container__cover-wrapper">
            <div class="plan-container__cover-wrapper__img">
                <div class="blackbox">
                    <div>
                        <p>A GOAL WITHOUT A PLAN IS JUST A WISH<br></p>
                        <p>PLAN</p>
                        <p>미래를 넘어선 가치를 제안합니다</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="plan-container__content-wrapper">
            <div class="plan-container__content-wrapper__summary-box">
                <div class="plan-container__content-wrapper__summary-box__first-content">
                    <div class="plan-container__content-wrapper__summary-box__first-content__title">
                        <h3 class="aos-animate" data-aos="fade-up">ARCHITECTURE STORY</h3>
                        <p class="aos-animate" data-aos-delay="400" data-aos="fade-up">
                            르코테지의 기본적인 디자인 개념은 <br>
                            <b>"자연과 인간의 삶을 담는 공간"</b>에서 시작됩니다.
                        </p>
                    </div>
                </div>

                <div class="plan-container__content-wrapper__summary-box__second-content">
                    <div class="plan-container__content-wrapper__summary-box__second-content__box">
                        <div class="plan-container__content-wrapper__summary-box__second-content__box__img js-plan-container__content-wrapper__summary-box__second-content__box__img aos-animate" data-aos="fade-up"></div>

                        <div class="plan-container__content-wrapper__summary-box__second-content__box__content aos-animate" data-aos="fade-left">
                            <p>Le COTTAGE</p>
                            <div class="plan-container__content-wrapper__summary-box__second-content__box__content__text">
                                <span>양평의</span>
                                <span>중심</span><br>
                                <p>하이엔드 타운하우스</p>
                            </div>
                            <ul>
                                <li id="planExplanationPart1" class="js-plan-explanation-part"></li>
                                <li id="planExplanationPart2" class="js-plan-explanation-part"></li>
                                <li id="planExplanationPart3" class="js-plan-explanation-part"></li>
                                <li id="planExplanationPart4" class="js-plan-explanation-part" style="margin-bottom: 0 !important;"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="quick_wrap">
                <ul class="side_quick">
                    <li class="on">
                        <a href="#planPart1">The First Part</a>
                    </li>
                    <li class="">
                        <a href="#planPart2">The Second Part</a>
                    </li>
                    <li class="">
                        <a href="#planPart3">The Third Part</a>
                    </li>
                    <li class="">
                        <a href="#planPart4">The Fourth Part</a>
                    </li>
                </ul>
            </div>

            <div class="plan-container__content-wrapper__content-box">
                <div id="planPart1">
                    <div class="plan-container__content-wrapper__content-box__plan-wrapper">
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__summary-box aos-animate" data-aos="fade-up">
                            <h3 class="plan-container__content-wrapper__content-box__plan-wrapper__summary-box__title">
                                THE <strong>FIRST</strong> PART
                            </h3>
                            <p class="plan-text">바쁜 도시 라이프에서 당신만의 템포를 찾다</p>
                        </div>
                        
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__back-img aos-animate" data-aos="fade-up">
                            <img src="/images/plan/planPart1/planSummaryPart1.jpg" alt="">
                        </div>
                        
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__life-quotes">
                            <div class="plan-text aos-animate" data-aos="fade-up">
                                <h3>
                                    <small>There si no security on this earth there is only opportunity.</small>
                                    <b>자연은 신이 만든 건축이며 <br>인간의 건축은 그것을 배워야한다.</b>
                                    <span class="plan-text__author">- General Douglas MacArthur -</span>
                                </h3>
                            </div>
                            <div class="img aos-animate" data-aos="fade-left">
                                <div class="swiper mySwiper2">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/images/unit/unitA/unitA1-main.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/unit/unitA/unitA2-main.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/unit/unitA/unitA3.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/unit/unitA/unitA4.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/unit/unitA/unitA5.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/unit/unitA/unitA6.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__plan-info aos-animate" data-aos="fade-right">
                            <div class="plan-text">
                                <h3>The <b>First</b> Part</h3>
                                <ul>
                                    <li>
                                        <b>대지위치</b>
                                        <p>경기도 양평군 용문면 산2-3</p>
                                    </li>
                                    <li>
                                        <b>대지면적</b>
                                        <p>6,625.00mm<sup>2</sup> (2004.06평)</p>
                                    </li>
                                    <li>
                                        <b>건축면적</b>
                                        <p>1,210.05m<sup>2</sup> (266.04평)</p>
                                    </li>
                                    <li>
                                        <b>연면적</b>
                                        <p>1,981.80m<sup>2</sup> (599.49평)</p>
                                    </li>
                                    <li>
                                        <b>건폐율</b>
                                        <p>24.84%</p>
                                    </li>
                                    <li>
                                        <b>용적율</b>
                                        <p>40.96%</p>
                                    </li>
                                    <li>
                                        <b>총세대수</b>
                                        <p>17세대</p>
                                    </li>
                                    <li>
                                        <b>UNIT TYPE</b>
                                        <p>A: 4세대, B: 3세대, C: 10세대</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="planPart2">
                    <div class="plan-container__content-wrapper__content-box__plan-wrapper">
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__summary-box aos-animate" data-aos="fade-up">
                            <h3 class="plan-container__content-wrapper__content-box__plan-wrapper__summary-box__title">
                                THE <strong>SECOND</strong> PART
                            </h3>
                            <p class="plan-text">바쁜 도시 라이프에서 당신만의 템포를 찾다</p>
                        </div>
                        <div class="back-img aos-animate" data-aos="fade-up">
                            <img src="/images/plan/planPart2/planSummaryPart2.jpg" alt="">
                        </div>
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__life-quotes">
                            <div class="plan-text aos-animate" data-aos="fade-up">
                                <h3>
                                    <small>Great architecture is the greatest proof that man is great.</small>
                                    <b>위대한 건축은 인간이 위대하다는<br> 가장 위대한 증거이다.</b>
                                    <span class="plan-text__author">- Frank Lloyd Wright -</span>
                                </h3>
                            </div>
                            <div class="img aos-animate" data-aos="fade-left">
                                <div class="swiper mySwiper2">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart2/planImagePart2-1.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart2/planImagePart2-2.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart2/planImagePart2-3.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart2/planImagePart2-4.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart2/planImagePart2-5.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart2/planImagePart2-6.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart2/planImagePart2-7.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__plan-info aos-animate" data-aos="fade-right">
                            <div class="plan-text">
                                <h3>The <b>Second</b> Part</h3>
                                <ul>
                                    <li>
                                        <b>대지위치</b>
                                        <p>경기도 양평군 용문면 산2-1 외 6필지</p>
                                    </li>
                                    <li>
                                        <b>대지면적</b>
                                        <p>4,864.48mm<sup>2</sup> (1,471.51평)</p>
                                    </li>
                                    <li>
                                        <b>건축면적</b>
                                        <p>1,814.88m<sup>2</sup> (548.99평)</p>
                                    </li>
                                    <li>
                                        <b>연면적</b>
                                        <p>3,925.72m<sup>2</sup> (1,187.53평)</p>
                                    </li>
                                    <li>
                                        <b>건폐율</b>
                                        <p>37.31% (법정40%)</p>
                                    </li>
                                    <li>
                                        <b>용적율</b>
                                        <p>54.14% (법정100%)</p>
                                    </li>
                                    <li>
                                        <b>총세대수</b>
                                        <p>53세대</p>
                                    </li>
                                    <li>
                                        <b>UNIT TYPE</b>
                                        <p>A: 3세대, B: 6세대, C: 44세대</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="planPart3">
                    <div class="plan-container__content-wrapper__content-box__plan-wrapper">
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__summary-box aos-animate" data-aos="fade-up">
                            <h3 class="plan-container__content-wrapper__content-box__plan-wrapper__summary-box__title">
                                THE <strong>THIRD</strong> PART
                            </h3>
                            <p class="plan-text">바쁜 도시 라이프에서 당신만의 템포를 찾다</p>
                        </div>
                        <div class="back-img aos-animate" data-aos="fade-left">
                            <img src="/images/plan/planPart3/planSummaryPart3.jpg" alt="">
                        </div>
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__life-quotes">
                            <div class="plan-text aos-animate" data-aos="fade-up">
                                <h3>
                                    <small>A good home must be made, not bought.</small>
                                    <b>좋은 집이란 사는 것이 아니라 <br>만들어지는 것이어야 한다.</b>
                                    <span class="plan-text__author">- Joyce Maynard -</span>
                                </h3>
                            </div>
                            <div class="img aos-animate" data-aos="fade-left">
                                <div class="swiper mySwiper2">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart3/planImagePart3-1.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart3/planImagePart3-2.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart3/planImagePart3-3.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart3/planImagePart3-4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__plan-info aos-animate" data-aos="fade-right">
                            <div class="plan-text">
                                <h3>The <b>Third</b> Part</h3>
                                <ul>
                                    <li>
                                        <b>대지위치</b>
                                        <p>경기도 양평군 용문면 산3-1 외</p>
                                    </li>
                                    <li>
                                        <b>대지면적</b>
                                        <p>37,885mm<sup>2</sup> (11,460평)</p>
                                    </li>
                                    <li>
                                        <b>건축면적</b>
                                        <p>1,377.91m<sup>2</sup> (416.82평)</p>
                                    </li>
                                    <li>
                                        <b>연면적</b>
                                        <p>7,149.85m<sup>2</sup> (2,162.83평)</p>
                                    </li>
                                    <li>
                                        <b>건폐율</b>
                                        <p>27.88% (법정40%)</p>
                                    </li>
                                    <li>
                                        <b>용적율</b>
                                        <p>86.94% (법정 100%)</p>
                                    </li>
                                    <li>
                                        <b>총세대수</b>
                                        <p>47세대</p>
                                    </li>
                                    <li>
                                        <b>UNIT TYPE</b>
                                        <p>A: 22세대, B: 22세대, C: 5세대</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="planPart4">
                    <div class="plan-container__content-wrapper__content-box__plan-wrapper">
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__summary-box aos-animate" data-aos="fade-up">
                            <h3 class="plan-container__content-wrapper__content-box__plan-wrapper__summary-box__title">
                                THE <strong>FOURTH</strong> PART
                            </h3>
                            <p class="plan-text">바쁜 도시 라이프에서 당신만의 템포를 찾다</p>
                        </div>
                        <div class="back-img aos-animate" data-aos="fade-left">
                            <img src="/images/plan/planPart4/planSummaryPart4.jpg" alt="">
                        </div>
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__life-quotes">
                            <div class="plan-text aos-animate" data-aos="fade-up">
                                <h3>
                                    <small>The most important thing should be architecture for humans.</small>
                                    <b>가장 중요한 것은 <br> 인간을 위한 건축이여야 한다.</b>
                                    <span class="plan-text__author">- Alvar Aalto -</span>
                                </h3>
                            </div>
                            <div class="img aos-animate" data-aos="fade-left">
                                <div class="swiper mySwiper2">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart4/planImagePart4-1.jpg" alt="">
                                        </div>

                                        <div class="swiper-slide">
                                            <img src="/images/plan/planPart4/planImagePart4-2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-button-next swiper-button-next-unique"></div>
                                    <div class="swiper-button-prev swiper-button-prev-unique"></div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-container__content-wrapper__content-box__plan-wrapper__plan-info aos-animate" data-aos="fade-right">
                            <div class="plan-text">
                                <h3>The <b>Fourth</b> Part</h3>
                                <ul>
                                    <li>
                                        <b>대지위치</b>
                                        <p>경기도 양평군 용문면 삼성리 산2-1,산3-1 외</p>
                                    </li>
                                    <li>
                                        <b>대지면적</b>
                                        <p>52,658.6mm<sup>2</sup> (15,929평)</p>
                                    </li>
                                    <li>
                                        <b>건축면적</b>
                                        <p>10,531m<sup>2</sup> (3,185평)</p>
                                    </li>
                                    <li>
                                        <b>글램핑</b>
                                        <p>6,600m<sup>2</sup> (2,000평)</p>
                                    </li>
                                    <li>
                                        <b>부대시설</b>
                                        <p>3,917m<sup>2</sup> (1,185평)</p>
                                    </li>
                                    <li>
                                        <b>주용도</b>
                                        <p>글램핑, 산책로, 야외컨벤션, 체험장 등</p>
                                    </li>
                                    <li>
                                        <b>세대수</b>
                                        <p>100실</p>
                                    </li>
                                    <li>
                                        <b>글램핑 Unit</b>
                                        <p>66m<sup>2</sup> (20평)</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<div th:include="fragments/footer ::footer" class="footer"></div>
</body>
</html>