.a .b ul {
    max-width: 85%;
    margin: 30px auto auto auto;
}

.a .b ul li {
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 10px 0 10px 110px;
}

.a .b ul li b {
    width: 90px;
    position: absolute;
    text-align: right;
    left: 0;
    top: 10px;
}

.a .b ul li p {
    color: #666;
    font-weight: 400;
}

.a .b ul li:after {
    content: '';
    width: 90px;
    border-bottom: 1px solid #a07a4b;
    position: absolute;
    left: 0;
    bottom: -1px;
}