<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=" shortcut icon" href="/images/favicon/favicon.ico" style="user-select: auto;">

    <title>Le COTTAGE</title>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--thisPage-->
    <link rel="stylesheet" href="/css/lecottage/businessInfo.css">
    <script type="text/javascript" src="/js/lecottage/businessInfo.js"></script>
    <!--all CSS/JS-->
    <link rel="stylesheet" href="/css/commonCss.css">
    <!--include css-->
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <!--include js-->
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/footer.js"></script>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <!--Animation On Scroll CSS/JS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>
<body style="overflow-x: hidden">
<div th:include="fragments/header ::header" class="header"></div>

<div class="businessInfo">
    <div class="businessInfo-container">

        <div class="businessInfo-main-wrapper">
            <div class="businessInfo-main-wrapper__img">
                <div class="blackbox aos-animate" data-aos="fade-right" >
                    <div class="aos-animate" data-aos="fade-up">
                        <p>Summary</p>
                        <p>Le COTTAGE</p>
                        <p>르코테지 사업개요</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="businessInfo-summary-wrapper js-businessInfo-summary-wrapper">
            <div class="businessInfo-summary-wrapper__box aos-animate" data-aos="fade-right">
                <img class="businessInfo-summary-wrapper__box__img" src="images/lecottage/businessInfo/businessInfoOverview.jpg">
            </div>

            <div class="businessInfo-summary-wrapper__box__text aos-animate" data-aos="fade-left">
                <p>LECOTTAGE YANGPYEONG</p>
                <div class="businessInfo-summary-wrapper__box__text__big">
                    <span>양평의</span>
                    <span>중심</span><br>
                    <p>하이엔드 타운하우스</p>
                </div>
                <ul class="businessInfo-summary-wrapper__box__text__info">
                    <li>
                        <span>대지위치</span>
                        <span>경기도 양평군 용문면 삼성리 10-6,7,8</span>
                    </li>
                    <li>
                        <span>대지면적</span>
                        <span>6,321m<sup>2</sup> (1,912평)</span>
                    </li>
                    <li>
                        <span>건축면적</span>
                        <span>1,626m<sup>2</sup> (492평)</span>
                    </li>
                    <li>
                        <span>건 폐 율</span>
                        <span>33.40%</span>
                    </li>
                    <li>
                        <span>용 적 율</span>
                        <span>52.04%</span>
                    </li>
                    <li>
                        <span>주 용 도</span>
                        <span>생활형 숙박시설</span>
                    </li>
                    <li>
                        <span>총 세대수</span>
                        <span>17세대</span>
                    </li>
                </ul>

            </div>

        </div>
    </div>
    <div th:include="fragments/footer ::footer" class="footer"></div>
</div>

</body>
</html>