<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>오시는길</title>

    <link rel="stylesheet" href="css/lecottage/directions.css">
    <link rel="stylesheet" href="css/allCss/allCss.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
<div class="directions">
    <div class="directions-container">

        <div class="directions-main-wrapper">
            <div class="directions-main-wrapper__img">
                <div class="blackbox">
                    <div>
                        <p>YANGPYEONG PRESTIGE HOUSE</p>
                        <p>CONTACT US</p>
                        <p>나만의 프라이빗한 힐링공간</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="directions-map-wrapper">

        </div>
    </div>
</div>
</body>
</html>