<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>오시는길</title>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--thisPage-->
    <link rel="stylesheet" href="/css/lecottage/directions.css">
    <script type="text/javascript" src="/js/lecottage/directions.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=033ae22a73fc91a9d29f7380f2607ef7"></script>
    <!--all CSS/JS-->
    <link rel="stylesheet" href="/css/commonCss.css">
    <!--include css-->
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <!--include js-->
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/footer.js"></script>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <!--bootStrapIcon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!--Animation On Scroll CSS/JS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>
<body style="overflow-x: hidden">
<div th:include="fragments/header ::header" class="header"></div>

<div class="directions">
    <div class="directions-container">
        <div class="directions-main-wrapper">
            <div class="directions-main-wrapper__img">
                <div class="blackbox">
                    <div>
                        <p>YANGPYEONG PRESTIGE HOUSE</p>
                        <p>CONTACT US</p>
                        <p>나만의 프라이빗한 힐링공간</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="directions-middle-wrapper aos-animate" data-aos="fade-up">
            <p>THE CENTER OF YANGPYEONG NEW HEALING PLACE</p>
            <p>HIGH-END, PRESTIGE HOUSE</p>
            <p>양평의 새로운 지평을 열다</p>
        </div>

        <div class="directions-mapWrap-wrapper">
            <div class="directions-main-wrapper__wr aos-animate" data-aos="fade-right">
                <div id="map" class="directions-mapWrap-wrapper__map"></div>
                <div class="directions-mapWrap-wrapper__info">
                    <p>현장사무소</p>
                    <p><i class="bi bi-geo-alt-fill"></i>경기도 양평군 용문면 용문삼성로 333-13</p>
                    <p><i class="bi bi-telephone-fill"></i>031-772-1789</p>
                </div>
            </div>

            <div class="directions-main-wrapper__wr aos-animate" data-aos="fade-left">
                <div id="map2" class="directions-mapWrap-wrapper__map"></div>
                <div class="directions-mapWrap-wrapper__info">
                    <p>서울사무실</p>
                    <p><i class="bi bi-geo-alt-fill"></i>서울시 서초구 언남17길 14 대원빌딩4층</p>
                    <p><i class="bi bi-telephone-fill"></i>02-587-7716</p>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/footer ::footer" class="footer"></div>
</div>
</body>
</html>