.amenity-main-wrapper {
    overflow: hidden;
}

.amenity-main-wrapper__img {
    background-image: url("../../images/service/amenity/amenityMain.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.amenity-middle-wrapper {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.015em;
}

.amenity-middle-wrapper > span:nth-child(2) {
    font-weight: 300;
}

.amenity-middle-wrapper > span:nth-child(4) {
    font-weight: 300;
}

.amenity-middle-wrapper > p:nth-child(5) {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

.amenity-middle-wrapper > p:nth-child(6) {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
}

.amenity-sec-wrapper__outDoorStage__img {
    background-image: url("../../images/service/amenity/outdoorStage.jpg");
    width: 61.4%;
    height: 21vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-button-next, .swiper-button-prev {
    color: #a07a4b !important;
    width: 70px;
    height: 100%;
    transition: all ease .3s;
    margin-top: 0;
    top: 0;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 30px !important;
    color: white !important;
}

/* 반응형 모바일 세로 기준 */
@media (max-width: 768px) {

}