.amenity-main-wrapper__img {
    background-image: url("../../images/service/amenity/amenityMain.png");
    width: 99.3vw;
    height: 101vh;
    background-size: cover;
    display: flex;
}

.amenity-middle-wrapper {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.015em;
}

.amenity-middle-wrapper > span:nth-child(2) {
    font-weight: 300;
}

.amenity-middle-wrapper > p:nth-child(3) {
    margin-top: 15px;
    margin-bottom: 30px;
}

.amenity-middle-wrapper > p:nth-child(4) {
    color: #666;
    font-size: 18px;
    font-weight: 400;
}

.amenity-middle-wrapper > p:nth-child(5) {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
}

.amenity-sec-wrapper__outDoorStage__img {
    background-image: url("../../images/service/amenity/outdoorStage1.png");
    /*width: 42.7vw;*/
    /*height: 43vh;*/
    width: 65%;
    height: 21vw;
    background-repeat: no-repeat;
    background-size: cover;
}

