.premiumInfra-main-wrapper {
    overflow: hidden;
}

.premiumInfra-main-wrapper__img {
    background-image: url("../../images/service/premiumInfra/premiumInfraMain.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.premiumInfra-sec-wrapper__traffic {
    width: 100%;
}

.premiumInfra-sec-wrapper__traffic > img {
    width: 85%;
    height: 32vw;
    min-width: 1278px;
    min-height: 482px;
    margin-left: 5%;
}

.premiumInfra-sec-wrapper__traffic__info {
    text-align: center;
    color: #666;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.premiumInfra-sec-wrapper__traffic__info > p {
    margin-top: 10px;
}

.premiumInfra-sec-wrapper__traffic__info > p:nth-child(1) {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 0.2em;
    margin-bottom: 30px;
    color: darkgoldenrod;
}

.premiumInfra-sec-wrapper__traffic__info > p:nth-child(4) {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.2em;
    margin-top: 20px;
    margin-bottom: 100px;
    color: darkblue;
}

.premiumInfra-sec-wrapper {
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.premiumInfra-sec-wrapper--lay {
    margin-bottom: 0px !important;
}

.premiumInfra-sec-wrapper-wr > li:nth-child(1) > div {
    text-align: left;
    margin-top: 110px;
}

.premiumInfra-sec-wrapper-wr > li:nth-child(2) > div {
    text-align: right;
    margin-top: 110px;
}

.premiumInfra-sec-wrapper-wr > li:nth-child(2) > img {
    float: right;
}

.premiumInfra-middle-wrapper {
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.1em;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    width: 100%;
    padding: 100px;
}

.premiumInfra-middle-wrapper > p:nth-child(1) {
    font-size: 24px;
    font-weight: 400;
    color: #666;
}

.premiumInfra-middle-wrapper > p:nth-child(2) {
    margin-top: 15px;
}

.premiumInfra-middle-wrapper > p:nth-child(4) {
    color: #666;
    font-size: 18px;
    font-weight: 400;
}

.premiumInfra-middle-wrapper > p:nth-child(5) {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
}

.premiumInfra-sec-wrapper > li > img {
    width: 50%;
    height: 330px;
    object-fit: cover;
}

.premiumInfra-sec-wrapper__golf__img {
    object-position: 50% 50%;
}

.premiumInfra-sec-wrapper__waterLeisure__img {
    object-position: 50% 90%;
}

.premiumInfra-sec-wrapper__forestLodge__img {
    object-position: 50% 75%;
}

.premiumInfra-sec-wrapper__ski__img {
    object-position: 50% 100%;
}

/* 반응형 모바일 세로 기준 */
@media (max-width: 768px) {
    .premiumInfra-main-wrapper__img {
        background-position: center right 45%;
    }

    .blackbox > div {
        margin-left: 30px;
    }

    .blackbox > div > p:nth-child(1) {
        font-size: 14px;
    }

    .blackbox > div > p:nth-child(2) {
        font-size: 30px;
    }

    .blackbox > div > p:nth-child(3) {
        font-size: 14px;
    }

    .premiumInfra-sec-wrapper__traffic {
        width: 90%;
        margin: 0 auto;
    }

    .premiumInfra-sec-wrapper__traffic__info > p:nth-child(1) {
        font-size: 35px;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
    }

    .premiumInfra-sec-wrapper__traffic__info > p {
        margin-top: 5px;
        font-size: 14px;
    }

    .premiumInfra-sec-wrapper__traffic__info > p:nth-child(4) {
        font-size: 35px;
        letter-spacing: 0.1em;
        margin-top: 15px;
    }

    .premiumInfra-sec-wrapper__traffic > img {
        width: 100%;
        height: 250px;
        min-width: 350px;
        min-height: 200px;
        margin-left: 0;
    }

    .premiumInfra-middle-wrapper {
        font-size: 24px;
        padding: 40px 20px;
    }

    .premiumInfra-sec-wrapper > li > img {
        width: 100%;
        object-fit: cover;
    }

    .dp-right {
        width: 100%;
    }

    .dp-left {
        width: 100%;
    }

    .dp > li:nth-child(n) {
        display: flex;
        flex-direction: column;
    }

    .dp > li:nth-child(2n) {
        display: flex;
        flex-direction: column-reverse;
    }

    .premiumInfra-sec-wrapper-wr > li:nth-child(1) > div {
        margin: 20px 0;
    }

    .premiumInfra-sec-wrapper-wr > li:nth-child(2) > div {
        margin: 20px 0;
    }

    .dp > li {
        margin-bottom: 0;
    }

    .premiumInfra-sec-wrapper {
        margin-bottom: 0;
    }


}