<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="footer">
    <div class="footer-container">
        <div class="footer-container__wrapper">
            <div class="footer-container__wrapper__box">
                <a href="/" class="footer-container__wrapper__box_company-logo">
                    <img src="/images/lecottageLogoNoBackground.png" alt="">
                </a>

                <p>본사 I 경기도 양평군 용문면 용문삼성로 333-13 (삼성리 7-1)<br>
                    서울사무소 I 서울특별시 서초구 언남17길 14, 대원빌딩 4층 (양재동 278-11)<br>
                    대표이사 I 이종화&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사업자번호 I 633-87-01737<br>
                    전화번호 I 02)587-7717&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;팩스 I 02)6455-3001<br>
                    시행사 I 신대양양평리조트&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;시공사 I 원양종합건설㈜<br>
                    ※본 홈페이지에 사용된 사진 및 이미지 등은 소비자의 이해를 돕기 위한 것으로 사업과정 및 실제 시공에 따라 변경될 수 있습니다.<br><br>

                    Copyright Ⓒ신대양양평리조트 Corp. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>

</html>
