<div class="sidebar">
    <div class="sideBarLogo">
        <img src="/images/lecottageLogoNoBackground.png" onclick="mainHome()" alt="">
    </div>
    <i id="menu" class="fas fa-bars"></i>
    <div class="sideBarContentContainer">
        <div class="menuContent" name="company">
            <p>LeCOTTAGE</p>
            <i class="fas fa-plus"></i>
            <div class="subMenuBox">
                <p onclick="businessInfo()">사업개요</p>
                <p onclick="directions()">오시는길</p>
            </div>
        </div>

        <div class="menuContent" name="unit">
            <p>UNIT</p>
            <i class="fas fa-plus"></i>
            <div class="subMenuBox">
                <p onclick="unit()">Unit A</p>
                <p onclick="unit()">Unit B</p>
                <p onclick="unit()">Unit C</p>
            </div>
        </div>

        <div class="menuContent"  name="service">
            <p>Service</p>
            <i class="fas fa-plus"></i>
            <div class="subMenuBox">
                <p onclick="amenity()">Amenity</p>
                <p onclick="concierge()">Concierge</p>
                <p onclick="premiumInfra()">Premium Infra</p>
            </div>
        </div>

        <div class="menuContent" name="plan">
            <p>Plan</p>
            <i class="fas fa-plus"></i>
            <div class="subMenuBox">
                <p onclick="plan()">The First Part</p>
                <p onclick="plan()">The Second Part</p>
                <p onclick="plan()">The Third Part</p>
                <p onclick="plan()">The Fourth Part</p>
            </div>
        </div>

        <div class="menuContent" name="contactUs">
            <p>Contact Us</p>
            <i class="fas fa-plus"></i>
            <div class="subMenuBox">
                <p onclick="contactUs()">Contact Us</p>
            </div>
        </div>
    </div>

</div>