* {
    font-family: 'Noto Sans KR', sans-serif;
}

.blackbox {
    min-width: 820px;
    width: 50vw;
    height: 101vh;
    background-color: black;
    opacity: 75% !important;
    position: relative;
    color: white;
    animation: fadeInLeft 1s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 0.75;
        transform: translateX(0%);
    }
}

.blackbox > div {
    margin-left: 300px;
    margin-top: 330px;
}

.blackbox > div > p:nth-child(1) {
    letter-spacing: .2em;
    font-size: 20px;
    max-height: 20px;
}

.blackbox > div > p:nth-child(2) {
    letter-spacing: 0.2em;
    font-size: 55px;
}

.blackbox > div > p:nth-child(3) {
    letter-spacing: .2em;
    font-size: 18px;
    color: #a07a4b;
    margin-top: 20px;
}

.infoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1420px;
    margin: 100px auto;
    width: 100%;
}

.infoText--right {
    width: 750px;
    text-align: left;
    padding-left: 100px;
}

.infoText--left {
    width: 750px;
    text-align: right;
    padding-right: 100px;
}

.infoText {
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    margin-top: 60px;
    margin-bottom: 60px;
    letter-spacing: .2em;
    font-weight: bold;
    color: #666;
}

.infoText > p:nth-child(1) {
    letter-spacing: .3em;
    color: #a07a4b;
}

.infoText > p:nth-child(2) {
    font-size: 40px;
    color: black;
    margin-bottom: 40px;
    margin-top: 20px;
}

.infoText > p:nth-of-type(n+2) {
    margin-top: 8px;
}


/**/
/*swiper-container*/
.swiper-container {
    width: 61.4%;
    height: 43vh;
}
/*swiper-slide*/
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 43vh;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*swiper.css에서 수정을 해야 되지만 cdn으로 불러와서 여기서 중복 설정 + !important로 제어 하였음*/
.swiper-container-vertical>.swiper-pagination-bullets{
    top: unset !important;
    bottom: 10px;
    left: 0;
    width: 100%;
}
/*swiper.css에서 수정을 해야 되지만 cdn으로 불러와서 여기서 중복 설정 + !important로 제어 하였음*/
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
    display : inline-block !important;
    margin: 6px 2px !important;
}

.dp {
    display: inline-block;
    width: 90%;
}

.dp > li {
    width: 100%;
    margin-bottom: 100px;
}

.dp > li > img {
    width: 60%;
    height: 330px;
    object-fit: cover;
}

.dp-right {
    width: 37%;
    display: inline-block;
    float: right;
    text-align: right;
    margin-top: 80px;
}

.dp-left {
    width: 37%;
    display: inline-block;
    float: left;
    text-align: left;
    margin-top: 80px;
}

/* 반응형 모바일 세로 기준 */
@media (max-width: 768px) {
    .blackbox > div {
        margin-left: 30px;
    }

    .blackbox > div > p:nth-child(1) {
        font-size: 13px;
    }

    .blackbox > div > p:nth-child(2) {
        font-size: 30px;
    }

    .blackbox > div > p:nth-child(3) {
        font-size: 14px;
        letter-spacing: -0.02em;
    }
}
