<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel=" shortcut icon" href="/images/favicon/favicon.ico" style="user-select: auto;">
    <style type="text/css">
        @-ms-viewport {
            width: device-width;
        }

        @-o-viewport {
            width: device-width;
        }

        @viewport {
            width: device-width;
        }
    </style>

    <title>LE COTTAGE</title>



    <!--thisPage-->
    <link rel="stylesheet" href="/css/main/main.css">
    <script type="text/javascript" src="/js/main/main.js"></script>
    <!--include css-->
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <!--include js-->
    <script type="text/javascript" src="/js/fragments/header.js"></script>
    <script type="text/javascript" src="/js/fragments/footer.js"></script>
    <!--AOS Animate On Scroll Library-->
<!--    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">-->
    <!--jquery-->
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>



</head>
<body  style="overflow-x: hidden">
<div th:include="fragments/header ::header" class="header"></div>

<div class="main">
    <div class="main-container">
        <section class="main-container__cover-content">
                <div class="main-container__cover-content__wrapper">
                    <div class="main-container__cover-content__wrapper__main-text">
                        <h3>Le</h3>
                        <h3>COTTAGE</h3>
                        <p>지금껏 만나지 못한 압도적인 이야기</p>
                    </div>
                </div>
        </section>

        <section class="main-container__text-box-content">
            <div class="main-container__text-box-content__wrapper">
                <h3 class="main-container__text-box-content__wrapper__title">LeCOTTAGE</h3>
                <p class="main-container__text-box-content__wrapper__content">
                    비교대상이 호텔이라면 <b>LeCOTTAGE의 자존심</b>이 허락하지 않습니다. <br>
                    숲 속에 있는 듯한 그 느낌을 살려 <b>자연과 일체를 이루는 최고의 시설</b>입니다. <br><br>
                    <b>공간활용을 최대화</b>하여 테라스, 풀장, 사우나 설계로 <b>상류층의 유니크한 취향</b>을 반영해<br>
                    누구도 모방할 수 없는 <b>리더의 스케일과 라이프 스타일을 추구</b>합니다.
                </p>
            </div>
        </section>

        <section class="main-container__intro-content">
            <div class="main-container__intro-content__wrapper">
                <div class="main-container__intro-content__wrapper__box">
                    <ul>
                        <li class="img right aos-init aos-animate" data-aos="fade-left" data-aos-delay="400">
                            <img src="/images/main/main.png" alt="">
                        </li>

                        <li class="txt left">
                            <h3>
                                <b>더 높은 품격</b>을 <br>​
                                완성하는 단 하나의 공간​ <br>
                                <strong>HERMETIA</strong></h3>
                            <p>하이엔드 주거 가치와 기술력의 만남으로 완성한 <br>​
                                당신을 위한 진정한 럭셔리 하우스 <br>​
                                에르메티아 서초​</p>
                        </li>
                    </ul>
                </div>





            </div>
        </section>

        <section class="main-container__decoration-content">
            <div class="main-container__decoration-content__wrapper">

            </div>
        </section>

        <section class="main-container__boast-content">
            <div class="main-container__boast-content__wrapper">

            </div>
        </section>

        <section class="main-container__services-content">
            <div class="main-container__services-content__wrapper">

            </div>
        </section>
    </div>

    <div th:include="fragments/footer ::footer" class="footer"></div>
</div>

</body>
</html>