<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel=" shortcut icon" href="/images/favicon/favicon.ico" style="user-select: auto;">
    <style type="text/css">
        @-ms-viewport {
            width: device-width;
        }

        @-o-viewport {
            width: device-width;
        }

        @viewport {
            width: device-width;
        }
    </style>

    <title>LE COTTAGE</title>

    <!--thisPage-->
    <link rel="stylesheet" href="/css/main/main.css">
    <script type="text/javascript" src="/js/main/main.js"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
    안녕하세요
</body>
</html>