
ul, ol {
    list-style: none;
}

.main {

}

.main-container {

}

/***** cover-content *****/
.main-container__cover-content {
    background: url("../../images/main/main.jpg") no-repeat center center / cover;
    width: 99.2vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.main-container__cover-content__wrapper {
    margin-top: -300px;
    width: 100%;
}

.main-container__cover-content__wrapper__main-text {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto 0 250px;
    vertical-align: top;
}

.main-container__cover-content__wrapper h3:nth-child(1) {
    color: #edd1af;
    letter-spacing: .3rem;
    font-weight: 300;
    font-size: 110px;
    margin-bottom: -60px;
}

.main-container__cover-content__wrapper h3:nth-child(2) {
    color: #edd1af;
    font-weight: 800;
    letter-spacing: .3rem;
    font-size: 120px;
}

.main-container__cover-content__wrapper p {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    line-height: 1;
}


/***** text-box-content *****/
.main-container__text-box-content {
    background: url("/images/main/mainTextBox.jpg") no-repeat center center / cover;
    width: 99.2vw;
    height: 520px;
    align-items: center;
}

.main-container__text-box-content__wrapper {
    padding: 120px 0 140px;
    text-align: center;
    color: whitesmoke;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.main-container__text-box-content__wrapper__title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: .3rem;
}

.main-container__text-box-content__wrapper__content {
    font-weight: 300;
    font-size: 18px;
    line-height: 2;
}


/***** intro-content *****/
.main-container__intro-content {
    padding: 100px 0;
}

.main-container__intro-content__wrapper {
    max-width: 1920px;
    width: 90%;
    margin: 75px auto 105px auto;
}

.main-container__intro-content__wrapper__first-box {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.main-container__intro-content__wrapper__first-box__title {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.main-container__intro-content__wrapper__first-box__title h3,
.main-container__services-content__wrapper__swiper-content__title-box h3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-container__intro-content__wrapper__first-box__title b,
.main-container__services-content__wrapper__swiper-content__title-box b {
    font-weight: 600;
}

.main-container__intro-content__wrapper__first-box__title p,
.main-container__services-content__wrapper__swiper-content__title-box p {
    line-height: 1.8;
}

.main-container__intro-content__wrapper__first-box__title p:nth-child(2),
.main-container__services-content__wrapper__swiper-content__title-box p:nth-child(2) {
    font-size: 20px;
    margin-left: 10px
}

.main-container__intro-content__wrapper__second-box {
    display: flex;
    max-width: 1920px;
    width: 90%;
    margin: 60px auto;
    padding: 20px 15px 45px 15px;
    background-color: whitesmoke;
    text-align: center;
}

.main-container__intro-content__wrapper__second-box_content {
    padding: 10px;
}

.main-container__intro-content__wrapper__second-box_content__image {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.main-container__intro-content__wrapper__second-box_content p:nth-child(1) {
    max-width: 90%;
    margin: 0 25px;
    text-align: center;
    padding-bottom: 25px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    color: #a07a4b;
}

.main-container__intro-content__wrapper__second-box_content__image img {
    max-width: 100%;
    margin: 0 10px;
    transition: all 0.5s linear;
}

.main-container__intro-content__wrapper__second-box_content__image img:hover {
    transform: scale(1.1);
    max-width: 100%;
    margin: 0 10px;
}

/***** decoration-content *****/
.main-container__decoration-content {

}
.main-container__decoration-content__wrapper {
    width: 100%;
    height: 100%;
}

.main-container__decoration-content__wrapper__first-text,
.main-container__decoration-content__wrapper__second-text {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.main-container__decoration-content__wrapper__first-text p {
    flex: 0 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin: 0 40px;
    text-transform: uppercase;
    color: #a07a4b;
    letter-spacing: .3em;
    font-weight: 500;
    line-height: 2;
}

.main-container__decoration-content__wrapper__first-text p:nth-child(2n) {
    color: #aaa;
}

.main-container__decoration-content__wrapper__second-text strong {
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    color: #517e34;
    letter-spacing: 0.35em;
    font-weight: 600;
    line-height: 2;
}


/***** boast-content *****/
.main-container__boast-content {

}
.main-container__boast-content__wrapper {
    padding: 50px 0 0 0;
}

.main-container__boast-content__wrapper ul {
    overflow: hidden;
    max-width: 1920px;
    width: 70%;
    margin: 100px auto;
}

.main-container__boast-content__wrapper .right {
    float: right;
}

.main-container__boast-content__wrapper .left {
    float: left;
}

.main-container__boast-content__wrapper img {
    display: inline-block;
    border: none;
    vertical-align: baseline;
    max-width: 100%;
    height: 500px;
}

.main-container__boast-content__wrapper .txt {
    width: 40%;
    margin-top: 130px;
}

.main-container__boast-content__wrapper__txt-under {
    width: 39% !important;
}

.main-container__boast-content__wrapper .txt h3 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 30px;
}

.main-container__boast-content__wrapper .txt b {
    font-weight: 600;
}

.main-container__boast-content__wrapper .txt strong {
    color: #a07a4b;
    font-weight: 800;
    letter-spacing: .3rem;
}

.main-container__boast-content__wrapper .txt p {
    line-height: 1.8;
}

.main-container__boast-content__wrapper .img {
    width: 55%;
}

.main-container__boast-content__wrapper .txt.right {
    padding-left: 60px;
}


/***** services-content *****/
.main-container__services-content {

}
.main-container__services-content__wrapper {

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 935px;
    height: 327px;
    object-fit: cover;
}

.main-container__services-content__wrapper__swiper-content__swiper-box {
    margin: 100px 0;
    overflow: hidden;
    position: relative;
}

.swiper-button-next, .swiper-button-prev {
    color: #a07a4b;
    background: rgba(255,255,255,0.5);
    width: 70px;
    height: 100%;
    transition: all ease .3s;
    margin-top: 0;
    top: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.main-container__services-content__wrapper__swiper-content {
    text-align: center;
    margin-bottom: 100px;
}

.main-container__services-content__wrapper__swiper-content__title-box {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.main-container__services-content__wrapper__swiper-content .main-container__services-content__wrapper__swiper-content__title-text h3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}

.main-container__services-content__wrapper__swiper-content .main-container__services-content__wrapper__swiper-content__title-text b {
    font-weight: 600;
}

.main-container__services-content__wrapper__swiper-content .main-container__services-content__wrapper__swiper-content__title-text p {
    line-height: 1.8;
}

.main-container__services-content__wrapper__swiper-content .loop-slider .swiper-slide {
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-container__services-content__wrapper__swiper-content .swiper-wrapper .swiper-slide .swiper-slide__text h3 {
    flex: 0 0 auto;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    padding: 0 50px;
    text-transform: uppercase;
    color: #aaa;
    letter-spacing: .5em;
    font-weight: 500;
    margin-bottom: 10px;
}

.main-container__services-content__wrapper__swiper-content .swiper-wrapper .swiper-slide .swiper-slide__text p {
    font-size: 20px;
}

/*모달창*/
.modal-dialog {
    display: table;
}

.modal-title {
    font-weight: 900;
    font-size: 25px;
    margin: 0 auto;
}

.modal-content {
    width: 875px;
    height: 600px;
    top: 70px;
}

.modal-body-content {
    background: url("../../images/main/popUp.jpg");
    background-size: cover;
}

.modal-contactUs {
    text-align: center;
}

.modal-icon {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    display: inline-block;
    color: #a9a9a9;
    text-decoration: none;
}

.modal-icon:hover {
    color: black;
}

.tel {
    float: left;
    margin-left: 25px;
    padding: 10px 0;
}

.reserv {
    float: right;
    margin-right: 25px;
    padding: 10px 0;
}

.modal-footer {
    height: 30px;
    padding: 5px 10%;
    margin: 3px;
    justify-content: center;
}

.btn-primary {
    position: absolute;
    justify-content: center;
    margin-right: 150px;
    margin-top: 6px;
}

.btn-secondary {
    border-radius: 150px;
    width: 80px;
    height: 80px;
    top: 45px;
    position: relative;
}

.modal-footer > label {
    position: absolute;
}

h3, h5{
    margin-bottom: 0;
    line-height: 1.5;
}

h5 > span {
    color: #a07a4b;
}

ol, ul {
    padding-left: 0;
}

/* layout */
html, body{height:100%;}
button{border:0;cursor:pointer;}
a{color:#000;text-decoration:none;line-height:1;}

.wrap{height:100%;}
.content{position:relative;height:100%;}
.content .section{height:100%;}
.content .con1{background-color:#877249;}
.content .con2{background-color:#593d91;}
.content .con3{background-color:#ed6cc3;}
.content .con4{background-color:#089191;}

/* style */
.box-shortcut{position:fixed;right:50px;top:50%;z-index:9000;}
.box-shortcut{border-radius:10px;background:#fff}
.box-shortcut .menu > li > a{display:block;padding:10px;box-sizing:border-box;}
.box-shortcut .menu > li > .on{background:#ed8b3b;}
.box-shortcut .menu > li:first-child > .on{border-radius:10px 10px 0 0;}
.box-shortcut .btn-scroll-top{padding:10px;border-radius:0 0 10px 10px;background:#000;}
.box-shortcut .btn-scroll-top{color:#fff;}

/* 반응형 모바일 세로 기준 */
@media (max-width: 768px) {

    /* 팝업 */
    .modal-dialog {
        display: block;
        margin: 0 auto;
    }

    .modal-content {
        width: 90%;
        height: 574px;
        margin: 0 5%;
    }

    .modal-icon {
        font-size: 18px;
    }

    .modal-header {
        text-align: center;
    }

    .modal-body-content {
        background: url("../../images/main/popupM.jpg");
        background-size: cover;
    }

    .modal-title {
        font-size: 20px;
    }

    /* 메인페이지 */
    .main-container__cover-content {
        width: 100%;
    }

    .main-container__cover-content__wrapper__main-text {
        width: 90%;
        margin-left: 7.5000vw;
        margin-top: 70px;
    }

    .main-container__cover-content__wrapper h3:nth-child(1) {
        font-weight: 400;
        font-size: 14.0000vw;
        margin-bottom: -5.0000vw;
    }

    .main-container__cover-content__wrapper h3:nth-child(2) {
        font-size: 14.0000vw;
    }

    .main-container__cover-content__wrapper p {
        font-size: 4.2500vw;
    }

    .main-container__text-box-content__wrapper {
        padding: 11.2500vw 0;
    }

    .main-container__text-box-content__wrapper__content {
        font-size: 4vw;
    }

    .main-container__intro-content__wrapper {
        margin: 18.7500vw auto 15.0000vw auto;
    }

    .main-container__intro-content__wrapper__first-box__title h3, .main-container__services-content__wrapper__swiper-content__title-box h3 {
        line-height: 1.3;
    }

    .main-container__intro-content__wrapper__first-box__title h3, .main-container__services-content__wrapper__swiper-content__title-box h3 {
        font-size: 11.2500vw;
    }

    .main-container__intro-content__wrapper__first-box__title h3 > b, .main-container__services-content__wrapper__swiper-content__title-box h3 {
        font-size: 8.0000vw;
    }

    .main-container__intro-content {
        padding: 7.5000vw 0;
    }

    .main-container__intro-content__wrapper__second-box_content:nth-child(1) {
        padding: 5px 3px 5px 6px;
    }

    .main-container__intro-content__wrapper__second-box_content:nth-child(2) {
        padding: 5px 3px;
    }

    .main-container__intro-content__wrapper__second-box_content:nth-child(3) {
        padding: 5px 6px 5px 3px;
    }

    .main-container__intro-content__wrapper__second-box {
        width: 100%;
        margin: 6.2500vw auto;
        padding: 5.0000vw 0 7.5000vw;
    }

    .main-container__intro-content__wrapper__second-box_content p:nth-child(1) {
        margin: 0 10px;
        font-size: 5.7500vw;
        letter-spacing: 0.5000vw;
    }

    .main-container__decoration-content__wrapper__first-text p {
        font-size: 9.0000vw;
        margin: 0;
        letter-spacing: 0.7500vw;
        line-height: 1.5;
    }
    .main-container__decoration-content__wrapper__second-text strong {
        font-size: 4.0000vw;
        margin-top: 7.5000vw;
    }

    .main-container__boast-content__wrapper {
        padding: 0;
    }

    .main-container__boast-content__wrapper ul {
        margin: 12.5000vw auto;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .main-container__boast-content__wrapper .img {
        width: 100%;
    }

    .main-container__boast-content__wrapper img {
        height: 52.5000vw;
    }


    .main-container__boast-content__wrapper .txt {
        width: 100%;
        margin-top: 5.0000vw;
    }

    .main-container__boast-content__wrapper .txt h3 {
        font-size: 5.0000vw;
        text-align: center;
    }

    .main-container__boast-content__wrapper .txt.right {
         padding: 0;
    }

    .main-container__boast-content__wrapper__txt-under {
        width: 100% !important;
        text-align: center;
    }

    .main-container__services-content__wrapper__swiper-content__swiper-box {
        width: 80%;
        margin: 30px auto 0;
    }

    .swiper {
        width: 100%;
        padding-top: 13.5vw;
    }

    .swiper-slide {
        flex-direction: column;
    }

    .main-container__services-content__wrapper__swiper-content .swiper-wrapper .swiper-slide .swiper-slide__text h3 {
        font-size: 7.5000vw;
        letter-spacing: 0.7500vw;
    }

    .swiper-slide img {
        width: 100%;
        height: 52.5000vw;
    }

    .swiper-button-next, .swiper-button-prev {
        background: transparent;
        width: 50px;
        height: 57.3%;
        top: 32.0000vw;
    }

    .main-container__boast-content__wrapper .txt p {
        text-align: center;
    }

    .main-container__services-content__wrapper__swiper-content .swiper-wrapper .swiper-slide .swiper-slide__text p {
        font-size: 17px;
    }

    .main-container__intro-content__wrapper__first-box__title p:nth-child(2), .main-container__services-content__wrapper__swiper-content__title-box p:nth-child(2) {
        font-size: 17px;
    }

    .main-container__intro-content__wrapper__first-box__title p:nth-child(2), .main-container__services-content__wrapper__swiper-content__title-box p:nth-child(2) {
        font-size: 15px;
    }

}