.businessInfo-main-wrapper {
    overflow: hidden;
}

.businessInfo-main-wrapper__img {
    background-image: url("../../images/main/main.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.businessInfo-summary-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
}

.businessInfo-summary-wrapper__box {
    width: 55vw;
    height: auto;
    margin-left: -8px;
    animation: fadeInLeft 1s;
}

.businessInfo-summary-wrapper__box__img {
    max-width: 100%;
    min-width: 725px;
    height: auto;
}

.businessInfo-summary-wrapper__box__text {
    font-weight: 500;
    font-size: 40px;
    text-align: right;
    align-self: center;
    margin-top: 118px;
    margin-left: 130px;
    animation: fadeInRight 1s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.businessInfo-summary-wrapper__box__text p:first-child {
    letter-spacing: .3em;
    font-size: 16px;
    color: #a07a4b;
}

.businessInfo-summary-wrapper__box__text__big {
    margin-top: 25px;
}

.businessInfo-summary-wrapper__box__text__big span:nth-child(1){
    font-weight: 300;
}

.businessInfo-summary-wrapper__box__text__big p:last-of-type {
    margin-top: 10px;
}

.businessInfo-summary-wrapper__box__text__info {
    font-size: 16px;
    margin-top: 80px;
    width: 400px;
    list-style: none;
}

.businessInfo-summary-wrapper__box__text__info > li {
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 10px 0 10px 110px;
}

.businessInfo-summary-wrapper__box__text__info > li > span:nth-child(1) {
    width: 25%;
    position: absolute;
    text-align: center;
    left: 0;
    top: 10px;
}

.businessInfo-summary-wrapper__box__text__info li span:nth-child(2)::after {
    content: '';
    width: 100px;
    border-bottom: 1px solid #a07a4b;
    position: absolute;
    left: 0;
    bottom: -1px;
}

/* 반응형 모바일 세로 기준 */
@media (max-width: 768px) {
    .businessInfo-main-wrapper__img {
        background-position: center right 40%;
    }

    .blackbox > div {
        margin-left: 30px;
    }

    .blackbox > div > p:nth-child(1) {
        font-size: 14px;
    }

    .blackbox > div > p:nth-child(2) {
        font-size: 30px;
    }

    .blackbox > div > p:nth-child(3) {
        font-size: 14px;
    }

    .businessInfo-summary-wrapper {
        margin-top: 0;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .businessInfo-summary-wrapper__box__img {
        padding: 60px 0;
    }

    .businessInfo-summary-wrapper__box__text {
        text-align: left;
        padding-right: 120px;
        margin: 0;
    }

    .businessInfo-summary-wrapper__box__text > p {
        font-size: 14px !important;
        margin-left: 20px;
    }

    .businessInfo-summary-wrapper__box__text__big {
        font-size: 30px;
        margin-left: 20px;
    }

    .businessInfo-summary-wrapper__box__text__info {
        margin-top: 50px;
    }
}